<h1>Edit User:<%= @user.name %></h1>



<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<label> Name:</label>
	<input type="string" name="user[name]" placeholder="<%= @user.name %>">
	<label> Email:</label>
	<input type="email" name="user[email]" placeholder="<%= @user.email%>">
	<input type="submit" value="Update">
</form>


<!-- <form action="/users/<%= @user.id %>/delete" method="post">
	<input type="hidden" name="_method" value="destroy">
	<input type="hidden" name="authenticity_form" value="form_authenticity_token">
	<input type="submit" value="Delete Record" >
</form> -->