<h1>Edit User:<%= @user.name %></h1>



<form action="/users/<%= @user.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<label for="name">Name:</label>
	<input id="name" type="string" name="user[name]" placeholder="<%= @user.name %>">
	<label for="email"> Email:</label>
	<input id="email" type="email" name="user[email]" placeholder="<%= @user.email%>">

	<label for="password"> Password:</label>
	<input id="password" type="password" name="user[password]" placeholder="<%= @user.password%>">
	<input type="submit" value="Update">
</form>




<!-- <form action="/users/<%= @user.id %>/delete" method="post">
	<input type="hidden" name="_method" value="destroy">
	<input type="hidden" name="authenticity_form" value="form_authenticity_token">
	<input type="submit" value="Delete Record" >
</form> -->