<h3>Welcome <%= @user.name %></h3>
<h3><%= flash[:errors] %></h3>
<p><a href= "/users/<%= @user.id %>/edit">Edit User</a></p>
<form action='/users/<%= @user.id %>' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input name="_method" value="delete" type="hidden">
  <button type="submit">Delete Account</button>
</form>
